# Facebook App credentials
FB_APP_ID=697896216481374
FB_APP_SECRET=6004b8c342e08edab622decd6abb810e

# Webhook verification token (must match what you set in the App Dashboard)
WHATSAPP_VERIFY_TOKEN=EAAJ6u6ASzl4BPI25Moh7ylCcPTEfMBqCbU0ZAMpenjQWeqAueE4RUvGtlFrViPUV0pf84eDdCxHZBYWhxD6WWl64uFfZAYvu7VJfXcCyvDDQwmRtqAadv5bPx40ZCgZBh81nFCcbfIaxBsZAYvZCbsMrjoO3aJhaomMZAGEuA4n8CotdCQOiWpBSnoG1wwWlzZA8oOk604J2mmvldaqZBSS6gSsONMQzpGw030uVfgd13SxZCcLWAZDZD

# # New WhatsApp Webhook Token for Brand Appliances
# WHATSAPP_PERMANENT_TOKEN=EAARqijjCLEgBPMzZAt0UrHFW0jdNZC88Yp35ZBNKEhECZArtHMQzx9eCSnPtA3v5aeT1ZAAFEtGtZCyZBwsm7ZAJZCCcEMZBouvdVfwW5JpVST8n3m3bgxQQ9NT92fFULvp381DTwdhMscKlaDdMiE3lRZAEn941QjCq5Xo9LZCaFQBAPBxM4LyK3Ba5ylbZBu29ncQZDZD

# Permanent WhatsApp Business API token (system-user token)
WHATSAPP_PERMANENT_TOKEN=EAARqijjCLEgBPTKhdgwSqZAFoa3pLZCdNKZCwgY2ZBrZAZBHdNcZAftMiSZCdOQXqcU1ubtg3pwZATM8hO0dI0Psp6crDlCPKV7UDZBwwkSsONEfzCxa4DimiMtgglkGZBqwvnFuRsP8pJbTXYHXZAjV3tNzttq7MUZCtOWJZC1JQdf4XWeY0JunrdgH7Srz11Q4DSSQZDZD

# Your WhatsApp phone number ID
WHATSAPP_PHONE_NUMBER_ID=788307971023714

GROQ_API_KEY =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

GOTENBERG_URL="http://localhost:3000"

PUBLIC_BASE_URL="https://brandappliances.store"

# Airtel Money API Credentials (from Airtel Developer Portal)
AIRTEL_CLIENT_ID="f0ac285d-2c0a-453a-9513-58f5e1acfe7b" # Replace with your client ID
AIRTEL_CLIENT_SECRET="****************************"      # Replace with your client secret
AIRTEL_BASE="https://openapiuat.airtel.africa"         # Use UAT for testing, change to production later
AIRTEL_CALLBACK_TOKEN="9b0e43869a984e16af3c185a51c11684" # Make this a strong, random string
AIRTEL_MERCHANT_CODE = "933XCRGL"

BYPASS_PAYMENT=False
SIMULATE_SMS_PAYMENT=True