# WhatsApp API token for the Assistant's WABA number
WHATSAPP_PERMANENT_TOKEN=EAARqijjCLEgBPMzZAt0UrHFW0jdNZC88Yp35ZBNKEhECZArtHMQzx9eCSnPtA3v5aeT1ZAAFEtGtZCyZBwsm7ZAJZCCcEMZBouvdVfwW5JpVST8n3m3bgxQQ9NT92fFULvp381DTwdhMscKlaDdMiE3lRZAEn941QjCq5Xo9LZCaFQBAPBxM4LyK3Ba5ylbZBu29ncQZDZD

# Your WhatsApp phone number ID for the Assistant's WABA number
WHATSAPP_PHONE_NUMBER_ID=788307971023714 # This is the assistant bot's specific number

# Graph API Version (should match other services for consistency)
GRAPH_API_VERSION=v20.0